{% extends 'students/base.html' %}

{% block body %}
<h3 class="text-center m-4">ADD STAFF MEMBER</h3>
	{% if success %}
		<div class="alert-success" role="alert">
			{{ new_staff.staff_first_name }} {{ new_staff.staff_last_name }} has been added successfully.
			<a href="{% url 'index' %}" class='alert-link'>Go To Home Page</a>
		</div>
	{% else %}
		<div class='row jusify-content-center'>
			<div class='col-6'>
				<div class="card bg-light mb-3">
				  <div class="card-header">
				  	<i class="fa-solid fa-address-card fa-lg"> Staff Registration</i>
				  </div>
				  <div class="card-body">
				    <form action="{% url 'add' %}" method='POST'>
				    	{% csrf_token %}
				    	{{ form.as_p }}	    	
				    	<button type="submit" class="btn btn-primary">Add</button>
				    	<a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
				    </form>
				  </div>
				</div>
			</div>
        </div> <!-- This closing div tag was missing -->
    {% endif %}
{% endblock %}
